{
  "extends": "@remix-run/eslint-config",
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "camelcase": ["off"],
    "comma-dangle": ["error", "never"],
    "indent": "off",
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/anchor-has-content": ["off"],
    "jsx-a11y/label-has-associated-control": ["off"],
    "jsx-a11y/label-has-for": ["off"],
    "no-alert": ["off"],
    "no-class-assign": ["off"],
    "no-console": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "no-func-assign": ["off"],
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "prefer-destructuring": ["off"],
    "semi": ["error", "never"]
  }
}
